* {
    margin: 0;
    padding: 0;
}

.background-container-main {
    width: calc(100% - 250px);
    height: 100vh;
    margin-left: 250px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.background-main {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.background-cover-main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.background-cover-main p {
    margin-left: 150px;
}

.up-main {
    font-family: "Khula", sans-serif;
    color: white;
    font-size: 80px;
    height: 90px;
    font-weight: 100;
    width: 170px;
}

.background-pp-main {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

.yihyle {
    font-family: "Lemon", serif;
    font-size: 96px;
    margin: 0 !important;
    background-image: linear-gradient(to right, #8EC5FC 1%, #E0C3FC 99%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 360px;
}


.lhs-main {
    margin-bottom: 40px;
}

.down-main {
    font-family: "Khula", sans-serif;
    color: #ffffff;
    font-size: 80px;
    display: inline-block;
    width: 900px;
    text-align: left;
    min-height: 1em;
    line-height: 1em;
    font-weight: 500;
}
